header {
	align-items: center;
	background-color: #3f3142;
	box-shadow: 0 1px 5px #3f3142;
	color: #ffffff;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;

	h1 {
		font-weight: 100;
    }

    @media(max-width: 567px){
        img{
            margin: 5px 10px 5px -12px;
            width: 60px;
        }
        h1 {
            font-size: 1.4rem;
        }
    }
}