.buttons {
    border-bottom: solid 1px $light-grey;
	display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: .5rem;
    margin: 1rem 0 0;

	button {
		background: url('../images/rpsls.png') no-repeat -2px 0 transparent;
		background-size: 580px;
		border: none;
		height: 100px;
		width: 100px;
		&:not([disabled]){
			cursor: pointer;
		}
		&.paper-btn{background-position: -121px 0;}
		&.scissors-btn{background-position: -240px 0;}
		&.lizard-btn{background-position: -360px 0;}
		&.spock-btn{background-position: -480px 0;}
	}
	
	@media (max-width: $breakpoint) {
		transform: scale(.88);
	}
}

.actions {
    align-items: center;
	display: flex;
	justify-content: center;
    
	button {
		background-color: $primary-color;
		border: none;
		box-shadow: 1px 1px 3px $shadow-color;
		border-radius: 50%;
		color: $white;
		cursor: pointer;
		font-weight: bold;
		height: 70px;
		margin-top: 1rem;
		margin: 1rem .5rem 2rem;
		width: 70px;

		.lizard-spock-btn {
			background-color: $tertiary-color;
		}
	}
}