* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Helvetica, sans-serif;
}

// This is the recommended method by webaim.org
// for hiding text from users
.sr-only {
	position:absolute;
	top:auto;
	left:-10000px;
	height:1px;
	overflow:hidden;
	width:1px;
}