.scoreboard {
	display: flex;
    justify-content: center;
    flex: 1;
    flex-flow: wrap;

	&>div  {
		box-shadow: 1px 1px 5px #ccc;
		flex: 0 0 240px;
        padding: 12px 15px 8px;
        position: relative;
        margin: .5rem;

		span.score {
			background-color: #eee;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			padding: 8px 20px;
			font-size: 1.2rem;
		}
		@media (max-width: 567px) {
			flex: 0 0 90%;
		}
	}

}