.scoreboard {
	background-color: #dbdadb	;
	display: -ms-flexbox;
	display: flex;
    justify-content: center;
    flex-flow: wrap;
	padding: .25rem;

	&>div  {
		background-color: white;
		box-shadow: 0px 0px 3px #aaa;
		-ms-flex: 0 0 240px;
		flex: 0 0 240px;
		height: 38px;
		padding: 12px 15px 8px;
		position: relative;
		margin: .5rem;

		span.score {
			background-color: #eee;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			padding: 8px 20px;
			font-size: 1.2rem;
		}
		@media (max-width: 567px) {
			flex: 0 0 90%;
		}
	}

}