.stage{
	align-items: center;
	display: flex;
	justify-content: center;

	
	&.game-over .player	{ 
		background: url('../images/RPSLS.png') no-repeat 0 0 transparent; 
	}
		
	.player {
		background-color: $grey;
		border-radius: 50%;
		height: 200px;
		margin: 1rem 0;
		width: 200px;
		transition: transform .3s linear, filter .3s linear;

		&.paper{background-position: -242px 0;}
		&.scissors{background-position: -484px 0;}
		&.lizard{background-position: -726px 0;}
		&.spock{background-position: -971px 0;}

		&.winner{
			transform: scale(1.1);
		}
		&.loser {
			filter: grayscale(1) blur(3px);
			transform: scale(0.7);
		}
	}
	span {
		display: inline-block;
		padding: 0 1rem;
	}
	
		
	@media (max-width: $breakpoint) {
		&.game-over .player{background-size: 760px;}
		.player{
			height: 130px;
			margin: 1rem 0;
			width: 130px;
			
			&.rock{background-position: -1px 0;}
			&.paper{background-position: -159px 0;}
			&.scissors{background-position: -316px 0;}
			&.lizard{background-position: -474px 0;}
			&.spock{background-position: -631px 0;}
		}
		span{
			padding: 0 .5rem;
		}
	}
}