
$primary-color: #c00e0e;
$secondary-color: #3f3142;
$tertiary-color: #094809;
$green: #52a744;

$white: #ffffff;
$grey: #eeeeee;
$dark-grey: #555555;
$light-grey: #dbdadb;

$shadow-color: #cccccc;

$breakpoint: 567px; // smaller that iPhone 5 Landscape 